{{ if eq .CommonLabels.alertname "Site down" }}{{ if eq .Status "firing" }}🔴 페미위키 접속 불가{{ else }}🟢 페미위키 복구{{ end }}{{ else }}{{ if eq .Status "firing" }}🔴{{ else }}🟢{{ end }} {{ .CommonLabels.alertname }}{{ end }}
