{{ if eq .Status "firing" }}<@&__MENTION_ROLE__>{{ end }}
{{ range .Alerts }}{{ .Annotations.summary }}
시작 {{ .StartsAt.Format "2006-01-02 15:04" }} UTC
{{ if .Annotations.logs }}[최근 상태 보기]({{ .Annotations.logs }}){{ end }}
{{ end }}
